

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 30px 0;
}

.page-link {
    text-decoration: none;
    color: var(--fourth-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

.page-link:hover:not(.active-page) {
    background-color: #e9ecef;
}

.page-link.active-page {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.page-link.prev,
.page-link.next {
    color: var(--fourth-color);
}

.page-link.disabled {
    color: #666666;
}