.container {
    width: 80%;
    height: auto;
    display: grid;
    margin: 85px auto 0 auto;
    user-select: none;
}

.content {
    width: 100%;
    display: grid;
}

.top-content h1 {
    font-size: 2rem;
}

.top-content p {
    font-size: 1.1rem;
    color: #4A5565;
}

/* css for search container */
.search-container {
    display: flex;
    gap: 2rem;
    border: solid #ccc;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-width: 0 1px 1.5px 1px;
    background-color: #fff;
    box-shadow: 0.5px 3px 4px 3px #E3E5E7;
}

.child {
    flex: 1;
    background-color: #F3F3F5 !important;
    border-radius: 5px;
    margin: 10px 0;
}


/* css for search box */
.search-box {
    border: none;
    background-color: inherit;
    border-radius: 8px;
    padding: 0.4rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.search-box #search {
    display: flex;
    border: none;
    float: right;
    width: 90%;
    background-color: inherit;
}

.search-box #search:focus {
    border-style: none;
    outline: none;
}

.search-box i {
    display: flex;
    width: 10%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}


/* css for dropdown*/
.custom-dropdown {
    position: relative;
}

.search-container .bt-search {
    position: relative;
    display: flex;
    background-color: #165FF2FF !important;
    border-radius: 8px;
    color: white;
    padding: 0.4rem 10px !important;
    margin: 10px 5px !important;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.bt-search i {
    margin: 5px;
}

.select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #F3F3F5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.title-dropdown {
    background-color: #f0f0f0;
}

.arrow {
    font-size: 1rem;
    color: #888;
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.option-value {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
}

.option-value.open {
    display: block;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
}

.option-item:hover {
    background-color: #f0f0f0;
}

.option-item.selected {
    font-weight: 600;
    color: #007bff;
}

.option-item.selected::after {
    content: '✓';
    font-size: 16px;
}

/* ---product container-----*/
.product-container {
    width: 100%;
    display: grid;
    gap: 30px;
    align-items: stretch;
    margin: 20px auto 10px auto;
    grid-template-columns: repeat(4, 1fr);
}


.product-card {
    background-color: white;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
}

.product-image-placeholder {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}

.product-image-placeholder img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.product-image-placeholder img:hover {
    scale: 1.1;
    overflow: hidden;
    transition: 0.4s ease;
}

.badge-discount {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #d44352;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 20px;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-details {
    padding-left: 15px;
    margin: 0 0 15px 20px;
    flex-grow: 1;
}

.card-product > ul {
    min-height: 120px;
}

.product-details li {
    font-size: 15px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0 0 15px 20px;
}

.action {
    margin: 10px 20px;
    background-color: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
}

.add-cart {
    width: 100%;
    display: flex;
    flex: 1;
    margin-right: 15px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-cart:hover {
    background-color: blue;
}

.add-cart span {
    display: flex;
    justify-content: center;
    padding: 0 8px 0 16px;
    font-size: 22px;

}

.add-cart p {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 16px 0 0;
    font-size: 16px;
    white-space: nowrap;
}

.bt-detail {
    display: flex;
    border: 0.5px solid #E9E9E9;
    flex: none;
    font-size: 16px;
    color: black;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 16px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.bt-detail:hover {
    background-color: blue;
    color: white;
}

/* -----------pagination----------------------- */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 30px 0;
}

.page-link {
    text-decoration: none;
    color: var(--fourth-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
    border: 1px solid var(--color-text);
}

.page-link:hover:not(.active-page) {
    background-color: #e9ecef;
}

.page-link.active-page {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.page-link.prev,
.page-link.next {
    color: var(--fourth-color);
}

.page-link.disabled {
    color: #666666;
}

@media (max-width: 768px) {

    .top-content{
        margin-top:50px;
        margin-left: 10px;
    }
    .container {
        width: 100% !important;
        margin: 10px 10px;
        box-sizing: border-box;
        display: block;
    }

    .search-container {
        width: 90%;
        display: block;
        margin: 10px auto ;
    }

    .product-container {
        width: 100%;
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 20px auto 10px auto;
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 80%;
        box-sizing: border-box;
        margin: 5px auto;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .top-content{
        margin-top:50px;
        margin-left: 30px;
    }
    .container {
        width: 100% !important;
        margin: 10px 10px;
        box-sizing: border-box;
        display: block;
    }

    .search-container {
        width: 90%;
        display: block;
        margin: 10px auto ;
    }

    .product-container {
        width: 100%;
        display: grid;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin: 20px auto 10px auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card {
        width: 100%;
        box-sizing: border-box;
        margin: 5px auto;
    }

}

